
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_DefaultHeadComponentPartial")
<body>
	@await Component.InvokeAsync("_DefaultRightAreaComponentPartial")

	@await Component.InvokeAsync("_DefaultNavbarComponentPartial")

	<div class="sections" style="background-color: #ffffff !important;">
		<div class="sections-wrapper clearfix" style="width: 100%; background-color: #ffffff !important;">

			@await Component.InvokeAsync("_DefaultFeatureComponentPartial")	

			@await Component.InvokeAsync("_DefaultAboutComponentPartial")

			@await Component.InvokeAsync("_DefaultSkillComponentPartial")

			@await Component.InvokeAsync("_DefaultExperienceComponentPartial")
	
			@await Component.InvokeAsync("_DefaultEducationComponentPartial")
	
			@await Component.InvokeAsync("_DefaultPortfolioComponentPartial")
	
			@await Component.InvokeAsync("_DefaultContactComponentPartial")

		</div>
	</div> 

	@await Component.InvokeAsync("_DefaultFooterComponentPartial")

	@await Component.InvokeAsync("_DefaultScriptsComponentPartial")

</body>
</html>